@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --text-color: #fff;
  --body-background-color: hsl(220, 15%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--body-background-color);
  color: var(--text-color);
  min-height: 200vh;
}
